/*Set box sizing for all elements*/
*{
  box-sizing: border-box;  
}

/* Set some variable that will be used across the page */
:root{
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}

/* Typography setup */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

/* Navbar properties */
.navbar{
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary);
    padding: 0 1rem 0 0;
}

.navbar h1{
    background-color: var(--secondary);
    padding: 0 0.5rem 0 2rem;
    color: var(--tertiary);
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* class that underline and animates said underline on hover */
.underline-anim{
    position: relative;
    padding: 3px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--secondary);
    transition: 100ms ease-in-out;
    z-index: 0;
}

.underline-anim::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    width: 100%;
    height: 2px;
    z-index: -1;
}

li:hover .underline-anim::after{
    height: 100%;
    transition: 100ms ease-in-out;
}

li:hover .underline-anim{
    color: var(--tertiary);
    cursor: pointer;
}






.hero{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 300px;
    background-image: url(../images/blue-fence.jpg);
}

.hero-name{
    position:absolute;

    right: 5%; 
    bottom:5%; 
    background-color: var(--secondary);
    font-size: var(--font-hero-size);
}

.hero-tagline{
    position:absolute;
    bottom: 2%;
    right: 6%;
    background-color: var(--primary);
    font-size: var(--font-hero-size);
}

.my-face{
    position: absolute;
    right: 30%;
    height: 300px;
}

.page-section{
    display: flex;
    margin: 1rem 2rem;
    gap: 1rem;
}

.page-section h2{
    width: 6.5rem;
    font-size: 28px;
    flex-shrink: 0;
    margin-right: 1rem;
    text-align: right;
}

.indent{
    margin-left: 40px;
}
.vert-div{
    border-left: 6px solid var(--primary);
}

.projects{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: left;
    max-width: 1208px;
    width: 100%;
    gap: .5rem;
}


.project{
    position: relative;
    height: 10rem;
    cursor: pointer;
    border: var(--secondary) solid 6px;
}

.project a{
    color: black
}

.large-project{
    height: 30rem;
    flex-basis: 100%;
}

.small-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    gap: .5rem;
}

.small-projects .project{
    width: 100%;
    flex-basis: calc(50% - 1rem);
}



.project-img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter:grayscale(75%);
    transition : 250ms ease-in-out;
}

.fit-img{
    object-fit: contain;
}

.project:hover .project-img{
    filter: none;
    
}

.project-label{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 1.5vw, 16px);
    background-color: var(--secondary);
    padding-inline: 1rem;
    font-size: 10px;
    top: 40%;
}

.large-project-label{
    top: 75%;
}

/* Footer specific code */

footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: .75rem;
    
}

footer .underline-anim{
    text-decoration: none;
    color: var(--primary);
}

footer .underline-anim::after{
    background-color: var(--primary);
}

footer li:hover .underline-anim::after{
    height: 10%;
}

footer li:hover .underline-anim{
    font-size: 18px;
}



@media screen and (max-width: 756px){

    footer ul{
        flex-direction: column;
    }

    .large-project{
        height: 10rem;
    }

    .large-project-label{
        top: 40%;
    }

    .small-projects .project{
        flex-basis: 100%;
    }
}

