/*Set box sizing for all elements*/
*{
  box-sizing: border-box;  
}

/* Set some variable that will be used across the page */
:root{
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
    --hero-font-size: 24px;
}
html,body{
    overflow-x:visible;
    width: 100%;
}
/* Typography setup */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

/* Navbar properties */
.navbar{
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary);
    padding: 0 1rem 0 0;
}

.navbar h1{
    background-color: var(--secondary);
    font-size: 30px;
    padding: 0 0.5rem 0 2rem;
    color: var(--tertiary);
    transition: 100ms ease-in-out;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* class that underline and animates said underline on hover */
/* Possible change to do is create multiple underline-classes
   so I don't bloat this class to much. 
 */
.underline-anim{
    position: relative;
    padding: 3px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--secondary);
    transition: 100ms ease-in-out;
    z-index: 0;
}

.underline-anim::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    width: 100%;
    height: 2px;
    z-index: -1;
}

li:hover .underline-anim::after{
    height: 100%;
    transition: 100ms ease-in-out;
}

li:hover .underline-anim{
    color: var(--tertiary);
    cursor: pointer;
}





/* Hero Selectors  */
.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url(../images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

/* Subtitle for the hero section */
.hero-subtitle{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-inline: 1rem;
    background-color: var(--secondary);
    color: var(--dark);
    font-size: var(--hero-font-size);
}

/* This represents a container with a title */
.page-section{
    display: flex;
    margin: 1rem 2rem;
    gap: 1rem;
}

.page-section h2{
    width: 6.5rem;
    font-size: 28px;
    flex-shrink: 0;
    margin-right: 1rem;
    text-align: right;
}

.indent{
    margin-left: 40px;
}
.vert-div{
    border-left: 6px solid var(--primary);
}

/* Container that holds all the projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: left;
    width: 100%;
    gap: .5rem;
}

/* An individual project container/card */
.project{
    position: relative;
    height: 10rem;
    cursor: pointer;
    border: var(--secondary) solid 6px;
}

.project a{
    color: black
}

/* This is a modifier for the first project (could also just do nth child for this case) */
.large-project{
    height: 28rem;
    flex-basis: 100%;
}

.small-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    gap: .5rem;
    justify-content: space-between;
}

.small-projects .project{
    width: 100%;
    flex-basis: calc(49%);
}


/* Image sizing, filter, and animation */
.project-img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter:grayscale(75%);
    transition : 250ms ease-in-out;
}

.fit-img{
    object-fit: contain;
}

.project:hover .project-img{
    filter: none;
    
}

/* The label that will go on top of the project card */
.project-label{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 1.5vw, 16px);
    background-color: var(--secondary);
    padding-inline: 1rem;
    font-size: 10px;
    top: 40%;
}

.large-project-label{
    top: 75%;
}

/* Footer specific code */

footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: .75rem;
    
}

footer .underline-anim{
    text-decoration: none;
    color: var(--primary);
}

footer .underline-anim::after{
    background-color: var(--primary);
}

footer li:hover .underline-anim::after{
    height: 10%;
}

footer li:hover .underline-anim{
    font-size: 18px;
}


/* Footer starts to overflow at this width */
@media screen and (max-width: 756px){

    footer ul{
        flex-direction: column;
        align-items: flex-start;
    }

    
}

/* Length to make the large project card the same size as the rest */
@media screen and (max-width: 650px){
    body{
        font-size: 14px;
    }
    .page-section{
        margin-inline: .5rem;
    }
    .navbar h1{
        font-size: 18px;
    }

    .underline-anim{
        font-size: 14px;
    }

    .large-project{
        height: 10rem;
    }

    .large-project-label{
        top: 40%;
    }

    .small-projects .project{
        flex-basis: 100%;
    }
}

/* Sizing for even smaller screens otherwise overflow goes wonky */
@media screen and (max-width: 504px){
    .page-section{
        margin-inline: .5rem;
    }
    .page-section h2{
        width: 4rem;
        font-size: 24px;
    }

    .navbar h1{
        font-size: 12px;
    }

    .navbar .underline-anim{
        font-size: 9px;
    }G

    footer .underline-anim{
        font-size: 12px;
    }
}
