*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa500;
}

.navbar h1{
    margin-left: 1rem;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 8px;
}